# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
Venv/
**/venv/
**/Venv/

# Environment Variables
.env
backend/.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db